.form-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: auto;
    padding: 0px 20px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.popup-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-self: center;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.loading {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@media only screen and (min-width: 600px) {
    .form-container {
        width: 80%;
        height: auto;
        max-height: 80%;
        overflow: auto;
        border-radius: 10px;
        top: 10vh;

    }

    .section-2 {
        flex-direction: row;
    }

    .popup-form {
        width: 49%;
    }
}

@media only screen and (min-width: 768px) {
    .form-container {
        max-width: 567px;
        width: 50%;
    }

}