.close {
    width: 15px;
    font-size: 15px !important;
    color: rgba(255, 255, 255, 0.7) !important;
    position: absolute;
    top: 8px;
    right: 8px;
}

.info-bar-styler a, .info-bar-styler a:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
    display: inline-block;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.info-bar-styler a:hover {
    background-color: #dedede;
}